{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(BckGround.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-bar{
    background: rgb(0, 0, 0, 0.5);
    height: 80px;
}

.logo{
    margin: 10px 20px;
    height: 60px;
}

.menu{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a{
    text-decoration: none;
    color : rgb(255, 0, 0);
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid rgb(white) ;
}

.menu li a:hover{
    background: #fff
    transition: .4s;
    color: #000; 


}